name = {{AGENT_NAME_JSON}}
description = {{ROLE_DESCRIPTION_JSON}}
model = {{CODEX_MODEL_JSON}}
model_reasoning_effort = {{CODEX_REASONING_EFFORT_JSON}}
sandbox_mode = {{CODEX_SANDBOX_MODE_JSON}}
developer_instructions = {{CODEX_DEVELOPER_INSTRUCTIONS_JSON}}
